*{
    margin: 0;
    padding: 0;
}
body{
    background-color: red;
    overflow: hidden;
}
.gameContainer{
background-image: url(./image/PIXEL\ ART\ BY\ @SOFTWARING.jpg);
background-repeat: no-repeat;
background-size: 100vw 100vh;
width: 100%;
height: 100vh;
}
.dino{
background-image: url(./image/Cooky-removebg-preview.png);
    background-repeat: no-repeat;
    width: 170px;
    height:250px;
    background-size: cover;
    position: absolute;
    bottom:0;
    left:15px;
    background-size: 150px;
}
.obstacle{
    background-image: url(./image/coffeecup.png);
    background-repeat: no-repeat;
    width: 200px;
    height:250px;
    background-size: cover;
    position: absolute;
    background-size:190px;
    bottom: 0;
    left: 450px;
}
#scoreCont{
    position: absolute;
    font-size: 20px;
    border: 2px solid black;
}
.gameOver{
    background-image: url(./image/Gameover_Text-removebg-preview.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-size: 600px;
    position: relative;
    left:490px;
    visibility: hidden;
}
.animateDino{
    animation: dino 0.6s linear;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}
@keyframes dino{
0%{
bottom: 0;
}
50%{
bottom: 422px;
}
100%{
    bottom: 0;

}

}
@keyframes obstacleAni {
    0%{
        left:100vw;
    }
    50%{

    }
    100%{
left: -10vw;

    }
}